.heading-main {
    font-size: 5.5rem;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: $color-gray-light;
	margin-bottom: 3rem;
	text-transform: uppercase;
	
	@include resp(medium) {
		font-size: 4rem;
	}
}

.heading-secondary {
    font-size: 4rem;
    text-align: center;
	word-spacing: 3px;
	margin-bottom: 1rem;
    margin: 0;

    &:after {
        display: block;
    	background-color: #f39c12;
    	height: 2px;
    	content: '';
    	width: 15%;
    	margin: 20px auto 0 auto;
    }
}

.heading-tertiary {
    font-size: 3.5rem;
	margin: 1rem 0;
}
