.u-text-center {
    text-align: center;
}

.button-big {
    padding: 1rem 4rem !important;
}

.u-margin-l-sm {
    margin-left: 40px;
}

.u-margin-t-medium {
    margin-top: 6rem;
}

.u-color-blue {
    background-color: $color-bule-light !important;
}
