$color-gray-light: #F9F6F6;
$color-gray-light2: #f2f2f2;
$color-gray-dark: #363636;
$color-gray-dark-2: #888;

$color-bule-light: #3498db;
$color-bule-dark: #2980b9;

$color-green-light: #27ae60;
$color-green-dark: #2ecc71;

$color-main-light: #f39c12;
$color-main-dark: #a86a08;

$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-instagram: #e4405f;
